@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

@import 'tailwindcss';

/* 디자인 토큰은 @theme 안에서 정의 */
@theme {
  /* 브랜드 색 */
  --color-primary: #ff9743;
  --color-secondary: #f76f00;

  /* 폰트 (이름은 자유, 쓰는 쪽은 font-<이름>) */
  --font-sans: 'Pretendard', ui-sans-serif, system-ui, sans-serif;
  --font-head: 'Rammetto One', sans-serif;
}

/* 왼쪽 말풍선 꼬리 (이용자) */
.bubble-left::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -8px;
  border-top: 10px solid transparent;
  border-right: 10px solid #e5e7eb; /* bg-gray-200 색상 */
  border-bottom: 0px solid transparent;
  border-left: 0px solid transparent;
}

/* 오른쪽 말풍선 꼬리 (지원팀) */
.bubble-right::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -8px;
  border-top: 10px solid transparent;
  border-left: 10px solid #ff9743; /* bg-primary 색상 */
  border-bottom: 0px solid transparent;
  border-right: 0px solid transparent;
}
